body {

    margin: 0;

    padding: 20px;

    background: #0f172a;

    color: white;

    font-family: Arial, sans-serif;

}

h1 {

    color: #10b981;

}

#tablaAuditoria {

    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;

}

#tablaAuditoria th {

    background: #10b981;

    padding: 12px;

    text-align: left;

}

#tablaAuditoria td {

    padding: 12px;

    border-bottom: 1px solid #334155;

}

#tablaAuditoria tr:hover {

    background: #1e293b;

}

#buscadorAuditoria {

    width: 100%;

    padding: 12px;

    margin-bottom: 20px;

    border-radius: 8px;

    border: 1px solid #10b981;

    background: #1e293b;

    color: white;

    box-sizing: border-box;

    font-size: 15px;

}

.accion {

    font-weight: bold;

}
