body {
  background: #1e293b;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* TÍTULO */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* CONTENEDOR */
.form-container {
  max-width: 1000px;
  margin: auto;
}

/* BLOQUES */
.bloque {
  background: #334155;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.bloque h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/* INPUT GROUP */
.grid div {
  display: flex;
  flex-direction: column;
}

/* LABEL */
label {
  font-size: 12px;
  margin-bottom: 4px;
  color: #cbd5f5;
}

/* INPUTS */
input,
select,
textarea {
  padding: 8px;
  border-radius: 6px;
  border: none;
  width: 100%;
}

textarea {
  margin-top: 10px;
  height: 70px;
  resize: none;
}

/* BOTÓN */
.btnGuardar {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #dc2626, #ef4444);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btnGuardar:hover {
  transform: translateY(-2px);
}

/* OCULTOS */
#otroServicio {
  margin-top: 10px;
}
